<!DOCTYPE html>
<html>
<head>
  <title>Donations</title>
  <meta charset="UTF-8">
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.js"></script>
  <link rel="stylesheet" media="screen" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.css">
</head>
<section class="ui container">
  <nav class="ui inverted menu">
    <header class="ui header item"><a href="/">Donation</a></header>
    <div class="right menu">
      <a class="item" href="/signup">SignUp</a>
      <a class="item">Login</a>
    </div>
  </nav>
</section>
<br>
<body>
<div class="ui container two column grid middle aligned segment">
  <section class="column">
    <img class="ui medium image" src="http://res.cloudinary.com/ngrant/image/upload/v1506255277/Homer_Simpson_Vector_by_bark2008_bt6ayq.png">
  </section>
  <section class="column">
    <form class="ui stacked segment form" action="/authenticate" method="POST">
      <h3 class="ui header">Log-in</h3>
      <div class="field">
        <label>Email</label> <input placeholder="Email" name="email" value = "homer@simpson.com">
      </div>
      <div class="field">
        <label>Password</label> <input placeholder="Password" type="password"  name="password" value = "secret">
      </div>
      <button class="ui blue submit button">Login</button>
    </form>
  </section>
</div>
</body>
</html>